*{
    padding: 0%;
    margin: 0%;
    /* height: 100%; */
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background:linear-gradient(45deg, #00A0DC, #1d59e4, rgb(63, 63, 246));
    border-radius: 10px;
    padding-left: 20px;
        /* display: flex;
    flex-direction: column; */
}
.content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.contenttitle{
    font-size: 30px;
    margin: 10px;
    background: linear-gradient(0deg, #f2cd76, #f6883f, #f96767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: linear-gradient(270deg, #d0ff00, #e1ff00, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projtitle{
    font-size: 20px;
}
.projsummary{
    font-size: 17px;
}
.project>a{
}
.projimg{
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: auto; */
    gap: 10px;
    /* scrollbar-width: none;  */
    /* touch-action: pan-x; Prevent vertical scrolling when swiping horizontally */
    /* scroll-snap-type: x mandatory; Firefox for Hover UX */
}

.projimg img{
    height: 250px;
    /* width: 230px; */
    border-radius: 10px;
}

@media(max-width: 1300px){
    .projimg>img{
        height: 200px;
    }
}
@media(max-width: 1000px){
    .projimg>img{
        height: 180px;
    }
}
@media(max-width: 750px){
    .projimg>img{
        height: 150px;
    }
}
@media(max-width: 500px){
    .projimg>img{
        height: 100px;
    }
}
@media(max-width: 350px){
    .projtitle{
        font-size: 17px;
    }
    .projsummary{
        font-size: 14px;
    }
    .content{
        border-radius: 7px;
        padding: 15px;
    }
    .contenttitle{
        font-size: 23px;
        margin: 5px;
    }
}


@media(min-width: 1250px){
    .projtitle{
        font-size: 35px;
    }
    .projsummary{
        font-size: 30px;
    }
    .content{
        padding: 25px;
    }
    .contenttitle{
        font-size: 55px;
        margin: 10px;
    }
    .project>a{
        font-size: 30px;
    }
    .projects{
        gap: 25px;
    }
    .project{
        gap: 10px;
    }
}