* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    /* height: 100%; */
}
body{
    /* height: 100%; */
}
.main {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(blue, #1f5ae3, #5caaf9);
    /* height: 100%; */
    min-height: 100vh;
    /* overflow-y: scroll; */
}

.header {
    display: flex;
    border-radius: 20px;
    background: linear-gradient(45deg, #00a0dc, #1d59e4, rgb(63, 63, 246));
    padding: 10px;
    /* justify-content: space-between; */
    gap: 150px;
    align-items: center;
    margin: 20px;
    padding-left: 50px;
    padding-right: 70px;
    /* background: linear-gradient(45deg, blue, #7da4ff, #00A0DC); */
    color: white;
}

.info {
    display: flex;
    gap: 100px;
}

#profileimg {
    width: 100px;
    border-radius: 50%;
    border: 5px solid honeydew;
}

.headerlinks>a {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

a>img {
    width: 20px;
    /* mix-blend-mode:; */
    margin-right: 5px;
}

.contentlist {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100px;
    gap: 10px;
    font-size: 25px;
}

.contentlist>a {
    text-decoration: none;
    background: linear-gradient(90deg, #f2cd76, #ffad42, #ff5656);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: rgb(253, 202, 0);
    background-color: #ff3737; */
}

.allcontent {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
    flex-grow: 1;
}

iframe {
    /* min-height: 700px; */
    /* height: 80%; */
    /* width: 500px; */
}

/* .content{
    width: 500px;
} */
.content {
    display: flex;
    width: 85%;
    flex-grow: 1;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 1px rgb(33, 181, 255);
}

iframe {
    flex-grow: 1;
    /* width: 1300px; */
}

@media (max-width: 830px) {
    .header {
        gap: 100px;
    }

    .info {
        gap: 80px;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 15px;
    }

    .allcontent {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        gap: 20px;
    }
}

@media (max-width: 740px) {
    #profileimg {
        width: 80px;
        border-radius: 50%;
        border: 3px solid honeydew;
    }

    .header {
        border-radius: 15px;
        padding: 7px;
        gap: 65px;
        margin: 10px;
    }

    .allcontent {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        gap: 15px;
    }
    .contentlist {
        width: 80px;
        gap: 7px;
        font-size: 18px;
    }
}

@media (max-width: 560px) {
    #profileimg {
        width: 70px;
        border-radius: 50%;
        border: 3px solid honeydew;
    }

    .header {
        border-radius: 15px;
        padding: 7px;
        gap: 25px;
        /* justify-content:baseline; */
    }

    .allcontent {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }

    .info {
        /* gap: 100px; */
        justify-content: space-between;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 10px;
    }

    .header a img {
        width: 10px;
    }

    .header a {
        font-size: 10px;
    }
}

@media (max-width: 420px) {
    #profileimg {
        width: 50px;
    }

    .header {
        border-radius: 10px;
        padding: 5px;
        gap: 15px;
        /* justify-content:baseline; */
    }

    .content{
        width: 95%;
    }
    .contentlist{
        flex-direction: row;
        justify-content: center;
    }
    .allcontent {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        flex-direction: column;
        align-items: center;
    }

    .info {
        /* gap: 100px; */
        gap: 10px;
        justify-content:space-between;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 10px;
    }

    .header a img {
        width: 10px;
    }

    .header a {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .content {
        border-radius: 7px;
    }
}





@media( min-width: 1500px){
    h1{
        font-size: 50px
    }
    #profileimg {
        width: 120px;
        border-radius: 50%;
    }
    .info{
        gap: 250px;
    }
    header a{
        font-size: 20px;
    }
    header a img{
        width: 25px;
    }
    .allcontent {
        /* padding-left: 25px; */
        /* padding-right: 0px; */
        /* padding-top: 10px; */
        gap: 75px;
    }
    .contentlist {
        width: 120px;
        gap: 15px;
        font-size: 30px;
    }
}